@font-face {
    font-family: 'Antipasto';
    font-size: 14px;
    font-weight: 400;
    src: url(font/antipasto-pro-regular-trial-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'SegoeUI';
    font-size: 14px;
    font-weight: 400;
    src: url(font/segoe_ui-webfont.woff2) format('woff2');
}

h1,
h2,
h3,
a {
    font-family: 'Antipasto', arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-family: 'SegoeUI', arial, sans-serif;
}

.digitTitle {
    font-family: 'SegoeUI', arial, sans-serif;
}

h2.responsive {
    font-size: 2.5rem
}

#catalogButton {
    background-color: #b1c933;
}

#twitter {
    color: #00acee;
}

#facebook {
    color: #3b5998;
}

#googlePlus {
    color: #db4a39;
}

@media (min-width:768px) {
    h2.responsive {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .noBorderTopNews {
        border-top: none;
    }

    h2.responsive {
        font-size: clamp(1rem, 2vw + .5rem, 4rem);
    }
}